[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia git - How do I clone into a non-empty directory? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/2411031/how-do-i-clone-into-a-non-empty-directory
Icon=text-html
